{% extends 'base.html' %}
{%load static%}
{% block content %}
<body style="background-color:rgb(255, 249, 246);">
<div class="col-md-6 offset-md-3">

    <h1>Add new animal</h1>
    <br/>

    <form method="POST" enctype="multipart/form-data" action="{% url 'add_animal' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <br/>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    </form>
</div>
<br><br>
</body>
{% endblock %}