{% extends 'base.html' %}
{% block content %}
<div style="max-width: 800px; margin: 0 auto; text-align: left;">
<h1 style="text-align:center"></h1>

    <p> If you would like to adopt a dog or a cat, consider your decision carefully. Please do not decide on the spur of the moment. Think about the following questions:</p>

    <ul>
        <li>Does your lifestyle have time to care for a pet?</li>
        <li>Do you have the necessary conditions for keeping the pet?</li>
        <li>Do other householders agree?</li>
        <li>Who will look after the pet if you go on holiday or fall sick?</li>
        <li>What will happen to the pet if you decide to go back to your home country?</li>
        <li>Do your means allow for the right care for your pet (the right food, Vet’s bills, injections, tick, worm and flea treatment, blood tests, and the occasional test)?</li>
    </ul>

    <p>Before you come, it might be worth:</p>
    <ul>
        <li>Looking at the database of animals up for adoption</li>
        <li>Read how to choose the right animal for you</li>
        <li>Read the animals' description and contact one of the volunteers taking care of the animal to gain a better knowledge of the pet in question.</li>
    </ul>

    <h2 style="text-align:center">Steps</h2>

        <p>At Paws, we believe in creating loving connections between animals and their forever families. The adoption process is designed to ensure that both the adopter and the animal find the perfect match. Here's a step-by-step guide on how to welcome a new furry friend into your home:</p>

        <ol>
            <li>Explore Our Available Pets: Visit our website or come to the shelter to explore the profiles of our available animals. Each profile provides information about the pet's personality, age, and any special requirements. Take your time to find a companion that suits your lifestyle and preferences.</li>
            <li>Visit the Shelter: If you find a potential match, we encourage you to visit our shelter to spend time with the animal. Interacting with them allows you to gauge their behavior, temperament, and how well they might fit into your home. Our staff is available to answer any questions and provide guidance.</li>
            <li>Complete an Adoption Application: Once you've found the perfect match, complete our adoption application. This form helps us understand your living situation, experience with pets, and the type of home you can provide. Our goal is to ensure a happy and healthy life for both the adopter and the animal.</li>
            <li>Meet and Greet: We'll arrange a meet-and-greet session to allow you to spend more time with the chosen pet. This interaction helps solidify the bond between you and ensures that it's a good fit for both parties. Feel free to ask any additional questions or seek advice during this stage.</li>
            <li>Home Visit (if required): In some cases, we may conduct a home visit to ensure that your living environment is suitable for the specific needs of the animal. This step is meant to guarantee a safe and comfortable transition for the pet.</li>
            <li>Finalize the Adoption: Once all requirements are met, and the adoption fee is paid, you can finalize the adoption. Our team will provide you with information on the pet's medical history, vaccinations, and any other relevant details. Congratulations on your new family member!</li>
            <li>Post-Adoption Support: Our commitment doesn't end with the adoption process. We are here to provide post-adoption support, answer any questions, and offer guidance as your new pet settles into its forever home.</li>
        </ol>

    <h2 style="text-align:center">Declining an adoption</h2>

        <p>While our primary goal is to find loving and suitable homes for all our animals, there are situations where we may need to decline an adoption application. We understand that this decision can be disappointing, and we want to be transparent about the process. Here are some reasons why an adoption application may be declined:</p>

        <ul>
            <li>Unsuitable Living Conditions: If the living environment does not meet the specific needs of the animal, we may need to decline the adoption.</li>
            <li>Incomplete or Inaccurate Information: Providing accurate information on the adoption application is crucial. Incomplete or inaccurate information may result in the application being declined.</li>
            <li>Incompatibility with the Animal: Sometimes, during the meet-and-greet or interaction sessions, it becomes evident that the chosen animal and the adopter may not be the best fit.</li>
            <li>Concerns Raised During Home Visit: In cases where a home visit is conducted, concerns about the living conditions or adherence to our policies may lead to a declined application.</li>
        </ul>

        <p>If your application is declined, we understand that it can be disheartening. We encourage you to reach out to our team for clarification on the specific reasons behind the decision. Our commitment to the well-being of our animals and their successful adoptions is our top priority, and we are here to support you in finding the most suitable match for your home.</p>
</div>
{% endblock %}